Repository NextLevelCourses/nlc-web-laravel, pull requests merged in 2025-04, with the labels that each got.

#9 development
  .gitignore
  base_database/base database.mwb
  base_database/base database.pdf
  base_database/base database.png
  resources/views/master.blade.php
  routes/web.php
Labels: enhancement

#10 Feature/docker-stagging
  .gitignore
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeer.php
  dev.Docker-Compose.yml
  dev.Dockerfile
  makefile
  nlc-compose/nginx/nextlevelcourse.conf
Labels: enhancement

#11 Feature/docker-stagging
  makefile
Labels: Docker

#17 Landingpage nlc
  app/Http/Controllers/LandingController.php
  resources/views/landing/home.blade.php
  resources/views/landing/layouts/app.blade.php
  resources/views/landing/partials/css.blade.php
  resources/views/landing/partials/footer.blade.php
  resources/views/landing/partials/header.blade.php
  resources/views/landing/partials/javascript.blade.php
  resources/views/landing/partials/mobile.lade.php
  routes/web.php
Labels: blade template

#18 Feature/landing page structure
  app/Http/Controllers/DashboardController.php
  public/assets/images/logo/Next Level - Black Long.png
  public/assets/images/logo/Next Level - Logo & Icon.pdf
  public/assets/images/logo/logo white.png
  public/assets/images/logo/logo-white.png
  public/assets/images/logo/logo.png
  resources/views/dashboard/layouts/app.blade.php
  resources/views/dashboard/master.blade.php
  resources/views/dashboard/partials/css.blade.php
  resources/views/dashboard/partials/footer.blade.php
  resources/views/dashboard/partials/header.blade.php
  resources/views/dashboard/partials/javascript.blade.php
  resources/views/dashboard/profile.blade.php
  resources/views/landing/home.blade.php
  resources/views/landing/layouts/app.blade.php
  resources/views/landing/partials/header.blade.php
  resources/views/landing/partials/javascript.blade.php
  resources/views/landing/partials/mobile.lade.php
  routes/web.php
Labels: blade template

#19 Dashboard
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/LandingController.php
  resources/views/dashboard/instructor.blade.php
  resources/views/dashboard/layouts/app.blade.php
  resources/views/dashboard/master.blade.php
  resources/views/dashboard/partials/css.blade.php
  resources/views/dashboard/partials/footer.blade.php
  resources/views/dashboard/partials/header.blade.php
  resources/views/dashboard/partials/javascript.blade.php
  resources/views/dashboard/student.blade.php
  resources/views/landing/home.blade.php
  resources/views/landing/layouts/app.blade.php
  resources/views/landing/partials/css.blade.php
  resources/views/landing/partials/footer.blade.php
  resources/views/landing/partials/header.blade.php
  resources/views/landing/partials/javascript.blade.php
  routes/web.php
Labels: blade template

#21 Hotfix/master-and-stagging
  app/Http/Controllers/DashboardController.php
  resources/views/dashboard/instructor.blade.php
  resources/views/dashboard/layouts/app.blade.php
  resources/views/dashboard/master.blade.php
  resources/views/dashboard/partials/css.blade.php
  resources/views/dashboard/partials/footer.blade.php
  resources/views/dashboard/partials/header.blade.php
  resources/views/dashboard/partials/javascript.blade.php
  resources/views/dashboard/student.blade.php
  resources/views/landing/home.blade.php
  resources/views/landing/layouts/app.blade.php
  resources/views/landing/partials/footer.blade.php
  resources/views/landing/partials/header.blade.php
  resources/views/partials/header.blade.php
  routes/web.php
Labels: bug, confliq git

#22 Development Merged
  resources/views/dashboard/master.blade.php
  resources/views/landing/home.blade.php
  resources/views/landing/partials/header.blade.php
  routes/web.php
Labels: bug

#23 Development Merged
  public/assets/images/logo/Next Level - Black Long.png
  public/assets/images/logo/Next Level - Logo & Icon.pdf
  public/assets/images/logo/logo white.png
  public/assets/images/logo/logo-white.png
  public/assets/images/logo/logo.png
  resources/views/dashboard/master.blade.php
  resources/views/dashboard/profile.blade.php
  resources/views/landing/home.blade.php
  resources/views/landing/partials/header.blade.php
  resources/views/landing/partials/javascript.blade.php
  routes/web.php
Labels: bug

#24 Hotfix/template engine landing
  app/Http/Controllers/LandingController.php
  public/assets/images/dark/logo/logo-light.png
  public/assets/images/logo/logo-white.png
  public/assets/images/logo/logo.png
  resources/views/landing/layouts/Footer.blade.php
  resources/views/landing/layouts/Header.blade.php
  resources/views/landing/layouts/Master.blade.php
  resources/views/landing/layouts/app.blade.php
  resources/views/landing/module/AboutUs.blade.php
  resources/views/landing/module/AllCourse.blade.php
  resources/views/landing/module/DetailBlog.blade.php
  resources/views/landing/module/DetailCourse.blade.php
  resources/views/landing/module/FAQs.blade.php
  resources/views/landing/module/Home.blade.php
  resources/views/landing/module/Register.blade.php
  resources/views/landing/module/Testimonial.blade.php
  resources/views/landing/partials/css.blade.php
  resources/views/landing/partials/footer.blade.php
  resources/views/landing/partials/header.blade.php
  resources/views/landing/partials/javascript.blade.php
  resources/views/master.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: blade template

#59 Feature/ted course
  app/Http/Controllers/LandingController.php
  package-lock.json
  package.json
  resources/views/dashboard/module/Cart.blade.php
  resources/views/dashboard/module/MyProfile.blade.php
  resources/views/landing/layouts/Footer.blade.php
  resources/views/landing/layouts/Master.blade.php
  resources/views/landing/module/Register.blade.php
  resources/views/landing/module/ResetPassword.blade.php
  routes/web.php
Labels: blade template

#60 Pop up Forget password fix , and card space button n text fix
  resources/views/dashboard/module/Cart.blade.php
  resources/views/landing/module/Register.blade.php
Labels: blade template

#63 reset password center position
  resources/views/landing/module/ResetPassword.blade.php
Labels: blade template

#69 feature/new-authentication
  app/Modules/Authentication/Constant/ConstantAuth.php
  app/Modules/Authentication/Domain/DomainAuth.php
  app/Modules/Authentication/Handler/HandlerAuth.php
  app/Modules/Authentication/Interface/InterfaceDomainAuth.php
  app/Modules/Authentication/Interface/InterfaceUseCaseAuth.php
  app/Modules/Authentication/Mail/MailForgot.php
  app/Modules/Authentication/Mail/MailSuccessForgot.php
  app/Modules/Authentication/Middleware/MiddlewareAuthenticate.php
  app/Modules/Authentication/Repository/RepositoryAuth.php
  app/Modules/Authentication/Request/RequestAuth.php
  app/Modules/Authentication/Route/RouteAuth.php
  app/Modules/Authentication/Services/ServicesAuth.php
  app/Modules/Authentication/Usecase/UsecaseAuth.php
  app/Modules/Dashboard/Handler/HandlerDashboard.php
  app/Modules/Dashboard/Route/RouteDashboard.php
  app/Modules/Landing/Handler/HandlerLanding.php
  app/Modules/Landing/Route/RouteLanding.php
  bootstrap/app.php
  database/migrations/0002_01_01_000000_create_users_table.php
  database/migrations/2025_04_19_073501_create_log_table.php
  resources/views/auth/email/Email.blade.php
  resources/views/dashboard/layouts/Header.blade.php
  resources/views/dashboard/layouts/Master.blade.php
  resources/views/dashboard/module/Home.blade.php
  resources/views/dashboard/module/MyProfile.blade.php
  resources/views/forgot-password/email/Email.blade.php
  resources/views/forgot-password/email/Success.blade.php
  resources/views/landing/module/Authentication.blade.php
  resources/views/landing/module/ResetPassword.blade.php
Labels: blade template, authentication

#70 Seeder update
  database/seeders/UserSeeer.php
Labels: authentication, seeder
